/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package com.ndipatri.kmp.openapi.particle.apis


import com.ndipatri.kmp.openapi.particle.infrastructure.*
import io.ktor.client.HttpClient
import io.ktor.client.HttpClientConfig
import io.ktor.client.request.forms.formData
import io.ktor.client.engine.HttpClientEngine
import kotlinx.serialization.json.Json
import io.ktor.http.ParametersBuilder
import kotlinx.serialization.*
import kotlinx.serialization.descriptors.*
import kotlinx.serialization.encoding.*

open class DefaultApi : ApiClient {

    constructor(
        baseUrl: String = ApiClient.BASE_URL,
        httpClientEngine: HttpClientEngine? = null,
        httpClientConfig: ((HttpClientConfig<*>) -> Unit)? = null,
        jsonSerializer: Json = ApiClient.JSON_DEFAULT
    ) : super(baseUrl = baseUrl, httpClientEngine = httpClientEngine, httpClientConfig = httpClientConfig, jsonBlock = jsonSerializer)

    constructor(
        baseUrl: String,
        httpClient: HttpClient
    ): super(baseUrl = baseUrl, httpClient = httpClient)

    /**
     * Generate a customer scoped access token
     * Creates a token scoped to a customer for your organization.   You must give a valid product OAuth client ID and secret in HTTP Basic Auth or in the client_id and client_secret parameters.
     * @param contentType Must be set to application/x-www-form-urlencoded
     * @param authorization HTTP Basic Auth where username is the OAuth client ID and password is the OAuth client secret.
     * @param grantType 
     * @param clientId  (optional)
     * @param clientSecret  (optional)
     * @param expiresIn  (optional)
     * @param expiresAt  (optional)
     * @param scope  (optional)
     * @return kotlin.String
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun oauthTokenPost(contentType: kotlin.String, authorization: kotlin.String, grantType: kotlin.String, clientId: kotlin.String? = null, clientSecret: kotlin.String? = null, expiresIn: kotlin.String? = null, expiresAt: kotlin.String? = null, scope: kotlin.String? = null): HttpResponse<kotlin.String> {

        val localVariableAuthNames = listOf<String>("bearerAuth")

        val localVariableBody = 
            ParametersBuilder().also {
                clientId?.apply { it.append("client_id", clientId.toString()) }
                clientSecret?.apply { it.append("client_secret", clientSecret.toString()) }
                grantType?.apply { it.append("grant_type", grantType.toString()) }
                expiresIn?.apply { it.append("expires_in", expiresIn.toString()) }
                expiresAt?.apply { it.append("expires_at", expiresAt.toString()) }
                scope?.apply { it.append("scope", scope.toString()) }
            }.build()

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()
        contentType?.apply { localVariableHeaders["Content-Type"] = this.toString() }
        authorization?.apply { localVariableHeaders["Authorization"] = this.toString() }

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/oauth/token",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return urlEncodedFormRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Get user
     * Return the user resource for the currently authenticated user.
     * @return kotlin.String
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun userGet(): HttpResponse<kotlin.String> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/user",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Forgot password
     * Create a new password reset token and send the user an email with the token. This endpoint is rate-limited to prevent abuse.   Note: This endpoint does not require an access token.
     * @param body  (optional)
     * @return kotlin.String
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun userPasswordResetPost(body: kotlin.String? = null): HttpResponse<kotlin.String> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = body

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/user/password-reset",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * Delete user
     * Delete the logged-in user. Allows removing user account and artifacts from Particle system
     * @param body  (optional)
     * @return kotlin.String
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun userPut(body: kotlin.String? = null): HttpResponse<kotlin.String> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = body

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.PUT,
            "/user",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * Delete current access token
     * Delete your currently used token.
     * @return kotlin.String
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun v1AccessTokensCurrentDelete(): HttpResponse<kotlin.String> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.DELETE,
            "/v1/access_tokens/current",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Get the current access token information
     * Get your currently used token.
     * @return kotlin.String
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun v1AccessTokensCurrentGet(): HttpResponse<kotlin.String> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/v1/access_tokens/current",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Delete all active access tokens
     * Delete all your active access tokens.
     * @return kotlin.String
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun v1AccessTokensDelete(): HttpResponse<kotlin.String> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.DELETE,
            "/v1/access_tokens",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * List access tokens
     * Retrieve a list of all the issued access tokens for your account   Note: Pass your Particle username and password using HTTP Basic Auth.
     * @param authorization Your Particle username and password
     * @param otp Token given from your MFA device. Usually 6 digits long (optional)
     * @return kotlin.String
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun v1AccessTokensGet(authorization: kotlin.String, otp: kotlin.String? = null): HttpResponse<kotlin.String> {

        val localVariableAuthNames = listOf<String>("bearerAuth")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        otp?.apply { localVariableQuery["otp"] = listOf("$otp") }
        val localVariableHeaders = mutableMapOf<String, String>()
        authorization?.apply { localVariableHeaders["Authorization"] = this.toString() }

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/v1/access_tokens",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Delete an access token
     * Delete your unused or lost tokens.   DEPRECATED. Use the DELETE /v1/access_tokens/current endpoint instead.
     * @param token Access Token to delete
     * @return kotlin.String
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun v1AccessTokensTokenDelete(token: kotlin.String): HttpResponse<kotlin.String> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.DELETE,
            "/v1/access_tokens/{token}".replace("{" + "token" + "}", "$token"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Compile source code
     * Compile source code into a binary for a device
     * @param body  (optional)
     * @return kotlin.String
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun v1BinariesPost(body: kotlin.String? = null): HttpResponse<kotlin.String> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = body

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/v1/binaries",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * List firmware build targets
     * Lists the firmware versions for all platforms that can be used as build targets during firmware compilation.   Note: This endpoint does not require an access token.
     * @param featured When true, show most relevant (featured) build targets only.
     * @return kotlin.String
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun v1BuildTargetsGet(featured: kotlin.String): HttpResponse<kotlin.String> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        featured?.apply { localVariableQuery["featured"] = listOf("$featured") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/v1/build_targets",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Delete a client
     * Remove an OAuth client
     * @param clientId The client ID to delete
     * @param productIdOrSlug Product ID or slug. Product endpoint only.
     * @return kotlin.String
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun v1ClientsClientIdDelete(clientId: kotlin.String, productIdOrSlug: kotlin.String): HttpResponse<kotlin.String> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.DELETE,
            "/v1/clients/{clientId}".replace("{" + "clientId" + "}", "$clientId").replace("{" + "productIdOrSlug" + "}", "$productIdOrSlug"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Update a client
     * Update the name or scope of an existing OAuth client.
     * @param clientId The client ID to update
     * @param productIdOrSlug Product ID or slug. Product endpoint only.
     * @param body  (optional)
     * @return kotlin.String
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun v1ClientsClientIdPut(clientId: kotlin.String, productIdOrSlug: kotlin.String, body: kotlin.String? = null): HttpResponse<kotlin.String> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = body

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.PUT,
            "/v1/clients/{clientId}".replace("{" + "clientId" + "}", "$clientId").replace("{" + "productIdOrSlug" + "}", "$productIdOrSlug"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * List clients
     * Get a list of all existing OAuth clients, either owned by the authenticated user or clients associated with a product.
     * @param productIdOrSlug Product ID or slug. Product endpoint only.
     * @return kotlin.String
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun v1ClientsGet(productIdOrSlug: kotlin.String): HttpResponse<kotlin.String> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/v1/clients".replace("{" + "productIdOrSlug" + "}", "$productIdOrSlug"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Create a client
     * Create an OAuth client that represents an app.   Use type&#x3D;installed for most web and mobile apps. If you want to have Particle users login to their account on Particle in order to give your app access to their devices, then you can go through the full OAuth authorization code grant flow using type&#x3D;web. This is the same way you authorize it is similar to the way you give any app access to your Facebook or Twitter account.   Your client secret will never be displayed again! Save it in a safe place.   If you use type&#x3D;web then you will also need to pass a redirect_uri parameter in the POST body. This is the URL where users will be redirected after telling Particle they are willing to give your app access to their devices.   The scopes provided only contain the object and action parts, skipping the domain which is being infered from the context.   If you are building a web or mobile application for your Particle product, you should use the product-specific endpoint for creating a client (POST /v1/products/:productIdOrSlug/clients). This will grant this client (and access tokens generated by this client) access to product-specific behaviors like calling functions and checking variables on product devices, creating customers, and generating customer scoped access tokens.
     * @param productIdOrSlug Product ID or slug. Product endpoint only.
     * @param body  (optional)
     * @return kotlin.String
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun v1ClientsPost(productIdOrSlug: kotlin.String, body: kotlin.String? = null): HttpResponse<kotlin.String> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = body

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/v1/clients".replace("{" + "productIdOrSlug" + "}", "$productIdOrSlug"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * Unclaim device
     * Remove ownership of a device. This will unclaim regardless if the device is owned by a user or a customer, in the case of a product.   When using this endpoint to unclaim a product device, the route looks slightly different:   DELETE /v1/products/:productIdOrSlug/devices/:deviceId/owner   Note the /owner at the end of the route.
     * @param deviceId ID of the device to be unclaimed
     * @param productIdOrSlug Product ID or Slug
     * @return kotlin.String
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun v1DevicesDeviceIdDelete(deviceId: kotlin.String, productIdOrSlug: kotlin.String): HttpResponse<kotlin.String> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.DELETE,
            "/v1/devices/{deviceId}".replace("{" + "deviceId" + "}", "$deviceId").replace("{" + "productIdOrSlug" + "}", "$productIdOrSlug"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Get a stream of events for a device
     * Open a stream of Server Sent Events for all events for the specified device.
     * @param deviceId Device ID
     * @param eventPrefix Filters the stream to only events starting with the specified prefix
     * @return kotlin.String
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun v1DevicesDeviceIdEventsEventPrefixGet(deviceId: kotlin.String, eventPrefix: kotlin.String): HttpResponse<kotlin.String> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/v1/devices/{deviceId}/events/{eventPrefix}".replace("{" + "deviceId" + "}", "$deviceId").replace("{" + "eventPrefix" + "}", "$eventPrefix"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Call a function
     * Call a function exposed by the device, with arguments passed in the request body. Functions can be called on a device you own, or for any device that is part of a product you are a team member of.
     * @param deviceId 
     * @param functionName 
     * @param productIdOrSlug Product ID or Slug. Product endpoint only.
     * @param body  (optional)
     * @return kotlin.String
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun v1DevicesDeviceIdFunctionNamePost(deviceId: kotlin.String, functionName: kotlin.String, productIdOrSlug: kotlin.String, body: kotlin.String? = null): HttpResponse<kotlin.String> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = body

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/v1/devices/{deviceId}/{functionName}".replace("{" + "deviceId" + "}", "$deviceId").replace("{" + "functionName" + "}", "$functionName").replace("{" + "productIdOrSlug" + "}", "$productIdOrSlug"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * Get device information
     * Get basic information about the given device, including the custom variables and functions it has exposed. This can be called for sandbox devices claimed to your account and for product devices you have access to, regardless of claiming.
     * @param deviceId Device ID
     * @return kotlin.String
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun v1DevicesDeviceIdGet(deviceId: kotlin.String): HttpResponse<kotlin.String> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/v1/devices/{deviceId}".replace("{" + "deviceId" + "}", "$deviceId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Ping a device
     * This will ping a device, enabling you to see if your device is online or offline
     * @param deviceId 
     * @param productIdOrSlug Product ID or Slug. Product endpoint only.
     * @param contentType 
     * @return kotlin.String
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun v1DevicesDeviceIdPingPut(deviceId: kotlin.String, productIdOrSlug: kotlin.String, contentType: kotlin.String): HttpResponse<kotlin.String> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()
        contentType?.apply { localVariableHeaders["Content-Type"] = this.toString() }

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.PUT,
            "/v1/devices/{deviceId}/ping".replace("{" + "deviceId" + "}", "$deviceId").replace("{" + "productIdOrSlug" + "}", "$productIdOrSlug"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Flash a device with a bundle
     * Update the device firmware from a bundle
     * @param deviceId Device ID
     * @param body  (optional)
     * @return kotlin.String
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun v1DevicesDeviceIdPut(deviceId: kotlin.String, body: kotlin.String? = null): HttpResponse<kotlin.String> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = body

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.PUT,
            "/v1/devices/{deviceId}".replace("{" + "deviceId" + "}", "$deviceId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * Get a variable value
     * Request the current value of a variable exposed by the device. Variables can be read on a device you own, or for any device that is part of a product you are a team member of.
     * @param deviceId Device ID
     * @param varName Variable name
     * @param productIdOrSlug Product ID or Slug. Product endpoint only.
     * @param format Specify raw if you just the value returned (optional)
     * @return kotlin.String
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun v1DevicesDeviceIdVarNameGet(deviceId: kotlin.String, varName: kotlin.String, productIdOrSlug: kotlin.String, format: kotlin.String? = null): HttpResponse<kotlin.String> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        format?.apply { localVariableQuery["format"] = listOf("$format") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/v1/devices/{deviceId}/{varName}".replace("{" + "deviceId" + "}", "$deviceId").replace("{" + "varName" + "}", "$varName").replace("{" + "productIdOrSlug" + "}", "$productIdOrSlug"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Get a stream of your events
     * Open a stream of Server Sent Events for all events for your devices.
     * @param eventPrefix Filters the stream to only events starting with the specified prefix. Omit to get all events.
     * @return kotlin.String
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun v1DevicesEventsEventPrefixGet(eventPrefix: kotlin.String): HttpResponse<kotlin.String> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/v1/devices/events/{eventPrefix}".replace("{" + "eventPrefix" + "}", "$eventPrefix"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Publish an event
     * Publish an event
     * @param body  (optional)
     * @return kotlin.String
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun v1DevicesEventsPost(body: kotlin.String? = null): HttpResponse<kotlin.String> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = body

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/v1/devices/events",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * List devices
     * List devices the currently authenticated user has access to. By default, devices will be sorted by last_handshake_at in descending order.
     * @return kotlin.String
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun v1DevicesGet(): HttpResponse<kotlin.String> {

        val localVariableAuthNames = listOf<String>("bearerAuth")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/v1/devices",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Claim a device
     * Claim a new or unclaimed device to your account.
     * @param body  (optional)
     * @return kotlin.String
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun v1DevicesPost(body: kotlin.String? = null): HttpResponse<kotlin.String> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = body

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/v1/devices",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * Get all historical device vitals
     * Returns all stored device vital records sent by the device to the Device Cloud. Device vitals records will expire after 1 month.
     * @param deviceId Device ID
     * @param productIdOrSlug Product ID or slug. Product endpoint only
     * @param accept Optionally set to text/csv to return historic device vitals as a CSV
     * @param startDate Oldest diagnostic to return, inclusive. Date in ISO8601 format. (optional)
     * @param endDate Newest diagnostic to return, exclusive. Date in ISO8601 format. (optional)
     * @return kotlin.String
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun v1DiagnosticsDeviceIdGet(deviceId: kotlin.String, productIdOrSlug: kotlin.String, accept: kotlin.String, startDate: kotlin.String? = null, endDate: kotlin.String? = null): HttpResponse<kotlin.String> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        startDate?.apply { localVariableQuery["start_date"] = listOf("$startDate") }
        endDate?.apply { localVariableQuery["end_date"] = listOf("$endDate") }
        val localVariableHeaders = mutableMapOf<String, String>()
        accept?.apply { localVariableHeaders["Accept"] = this.toString() }

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/v1/diagnostics/{deviceId}".replace("{" + "deviceId" + "}", "$deviceId").replace("{" + "productIdOrSlug" + "}", "$productIdOrSlug"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Get last known device vitals
     * Returns the last device vitals payload sent by the device to the Device Cloud.
     * @param deviceId Device ID
     * @param productIdOrSlug Product ID or slug. Product endpoint only
     * @return kotlin.String
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun v1DiagnosticsDeviceIdLastGet(deviceId: kotlin.String, productIdOrSlug: kotlin.String): HttpResponse<kotlin.String> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/v1/diagnostics/{deviceId}/last".replace("{" + "deviceId" + "}", "$deviceId").replace("{" + "productIdOrSlug" + "}", "$productIdOrSlug"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Refresh device vitals
     * Refresh diagnostic vitals for a single device. This will instruct the device to publish a new event to the Device Cloud containing a device vitals payload. This is an asynchronous request: the HTTP request returns immediately after the request to the device is sent. In order for the device to respond with a vitals payload, it must be online and connected to the Device Cloud.   The device will respond by publishing an event named spark/device/diagnostics/update. See the description of the device vitals event.
     * @param deviceId Device ID
     * @param productIdOrSlug Product ID or slug. Product endpoint only
     * @param contentType 
     * @return kotlin.String
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun v1DiagnosticsDeviceIdUpdatePost(deviceId: kotlin.String, productIdOrSlug: kotlin.String, contentType: kotlin.String): HttpResponse<kotlin.String> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()
        contentType?.apply { localVariableHeaders["Content-Type"] = this.toString() }

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/v1/diagnostics/{deviceId}/update".replace("{" + "deviceId" + "}", "$deviceId").replace("{" + "productIdOrSlug" + "}", "$productIdOrSlug"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Get a stream of events
     * Open a stream of Server Sent Events for all events. for your devices matching the filter.   Note that as of April 2018, the event prefix filter is required. It was optional before.
     * @param eventPrefix Filters the stream to only events starting with the specified prefix. The event prefix filter is required for this endpoint.
     * @return kotlin.String
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun v1EventsEventPrefixGet(eventPrefix: kotlin.String): HttpResponse<kotlin.String> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/v1/events/{eventPrefix}".replace("{" + "eventPrefix" + "}", "$eventPrefix"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * List integrations
     * List all integrations. Pay special attention to the integration_type attribute of each integration, which will let you know whether the integration is a Webhook, an Azure IoT Hub integration, or a Google Cloud Platform integration.   If you would like to only list webhooks (integrations with type: &#39;Webhook&#39;), you can use a slightly different endpoint:   GET /v1/webhooks
     * @param productIdOrSlug Product ID or slug. Product endpoint only.
     * @return kotlin.String
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun v1IntegrationsGet(productIdOrSlug: kotlin.String): HttpResponse<kotlin.String> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/v1/integrations".replace("{" + "productIdOrSlug" + "}", "$productIdOrSlug"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Delete an integration
     * Delete an integration and immediate stop it from triggering. The integration can belong to a user or to a product.
     * @param integrationId The ID of the desired integration
     * @param productIdOrSlug Product ID or slug (only for product webhooks)
     * @return kotlin.String
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun v1IntegrationsIntegrationIdDelete(integrationId: kotlin.String, productIdOrSlug: kotlin.String): HttpResponse<kotlin.String> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.DELETE,
            "/v1/integrations/{integrationId}".replace("{" + "integrationId" + "}", "$integrationId").replace("{" + "productIdOrSlug" + "}", "$productIdOrSlug"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Get integration
     * Get a single integration. Pay special attention to the integration_type attribute of each integration, which will let you know whether the integration is a Webhook, an Azure IoT Hub integration, a Google Cloud Platform integration, or a Google Maps integration.
     * @param integrationId The ID of the desired integration
     * @param productIdOrSlug Product ID or slug. Product endpoint only.
     * @return kotlin.String
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun v1IntegrationsIntegrationIdGet(integrationId: kotlin.String, productIdOrSlug: kotlin.String): HttpResponse<kotlin.String> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/v1/integrations/{integrationId}".replace("{" + "integrationId" + "}", "$integrationId").replace("{" + "productIdOrSlug" + "}", "$productIdOrSlug"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Edit Google Maps Integration
     * Edit a Google Maps integration. Subsequent triggering of this integration will be sent with the new attributes.   The configuration replaces the entire previous webhook configuration. It does not merge in changes.
     * @param integrationId The ID of the desired integration
     * @param productIdOrSlug Product ID or slug. Product endpoint only.
     * @param body  (optional)
     * @return kotlin.String
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun v1IntegrationsIntegrationIdPut(integrationId: kotlin.String, productIdOrSlug: kotlin.String, body: kotlin.String? = null): HttpResponse<kotlin.String> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = body

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.PUT,
            "/v1/integrations/{integrationId}".replace("{" + "integrationId" + "}", "$integrationId").replace("{" + "productIdOrSlug" + "}", "$productIdOrSlug"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * Test an integration
     * Send a test event that triggers the integration. Helps build confidence that an integration is configured properly.
     * @param integrationId The ID of the desired integration
     * @param productIdOrSlug Product ID or slug. Product endpoint only.
     * @param body  (optional)
     * @return kotlin.String
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun v1IntegrationsIntegrationIdTestPost(integrationId: kotlin.String, productIdOrSlug: kotlin.String, body: kotlin.String? = null): HttpResponse<kotlin.String> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = body

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/v1/integrations/{integrationId}/test".replace("{" + "integrationId" + "}", "$integrationId").replace("{" + "productIdOrSlug" + "}", "$productIdOrSlug"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * Enable Google Maps integration
     * Enable an integration with Google Maps. For more details, check out the tutorial.
     * @param productIdOrSlug Product ID or slug. Product endpoint only.
     * @param body  (optional)
     * @return kotlin.String
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun v1IntegrationsPost(productIdOrSlug: kotlin.String, body: kotlin.String? = null): HttpResponse<kotlin.String> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = body

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/v1/integrations".replace("{" + "productIdOrSlug" + "}", "$productIdOrSlug"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * List organizations
     * List organizations the currently authenticated user has access to
     * @return kotlin.String
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun v1OrgsGet(): HttpResponse<kotlin.String> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/v1/orgs",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Retrieve an organization
     * Retrieve details for an organization.
     * @param orgIdOrSlug Organization ID or Slug
     * @return kotlin.String
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun v1OrgsOrgIdOrSlugGet(orgIdOrSlug: kotlin.String): HttpResponse<kotlin.String> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/v1/orgs/{orgIdOrSlug}".replace("{" + "orgIdOrSlug" + "}", "$orgIdOrSlug"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * List organization products
     * List products which belong the the organization
     * @param orgIdOrSlug Organization ID or Slug
     * @return kotlin.String
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun v1OrgsOrgIdOrSlugProductsGet(orgIdOrSlug: kotlin.String): HttpResponse<kotlin.String> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/v1/orgs/{orgIdOrSlug}/products".replace("{" + "orgIdOrSlug" + "}", "$orgIdOrSlug"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Get organization service agreements
     * Get the service agreements related to an organization
     * @param orgIdOrSlug Org ID or Slug
     * @return kotlin.String
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun v1OrgsOrgIdOrSlugServiceAgreementsGet(orgIdOrSlug: kotlin.String): HttpResponse<kotlin.String> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/v1/orgs/{orgIdOrSlug}/service_agreements".replace("{" + "orgIdOrSlug" + "}", "$orgIdOrSlug"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Create an org usage report
     * Request a new usage report related to the organization service agreement.   The usage report will be processed asynchronously. Expect its \&quot;state\&quot; to change throughout time.   The user must be an active member of the organization.
     * @param orgSlugOrId Organization Slug or ID
     * @param serviceAgreementId Service Agreement ID
     * @param body  (optional)
     * @return kotlin.String
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun v1OrgsOrgSlugOrIdServiceAgreementsServiceAgreementIdUsageReportsPost(orgSlugOrId: kotlin.String, serviceAgreementId: kotlin.String, body: kotlin.String? = null): HttpResponse<kotlin.String> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = body

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/v1/orgs/{orgSlugOrId}/service_agreements/{serviceAgreementId}/usage_reports".replace("{" + "orgSlugOrId" + "}", "$orgSlugOrId").replace("{" + "serviceAgreementId" + "}", "$serviceAgreementId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * Get an org usage report
     * Get a single usage report related to an organization. Expect \&quot;download_url\&quot; to be present only when the usage report has an \&quot;available\&quot; state.   The user must be an active member of the organization.
     * @param usageReportId The usage report ID
     * @param orgSlugOrId Organization Slug or ID
     * @return kotlin.String
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun v1OrgsOrgSlugOrIdUsageReportsUsageReportIdGet(usageReportId: kotlin.String, orgSlugOrId: kotlin.String): HttpResponse<kotlin.String> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/v1/orgs/{orgSlugOrId}/usage_reports/{usageReportId}".replace("{" + "usageReportId" + "}", "$usageReportId").replace("{" + "orgSlugOrId" + "}", "$orgSlugOrId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Delete product configuration schema
     * Delete configuration schema, use Tracker Edge defaults.
     * @param productIdOrSlug Product ID or slug.
     * @param contentType Must be set to \&quot;application/schema+json\&quot; for this endpoint.
     * @return kotlin.String
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun v1ProductsProductIdOrSlugConfigDelete(productIdOrSlug: kotlin.String, contentType: kotlin.String): HttpResponse<kotlin.String> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()
        contentType?.apply { localVariableHeaders["Content-Type"] = this.toString() }

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.DELETE,
            "/v1/products/{productIdOrSlug}/config".replace("{" + "productIdOrSlug" + "}", "$productIdOrSlug"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Delete device configuration schema
     * Delete device&#39;s configuration schema, use product&#39;s.
     * @param productIdOrSlug Product ID or slug.
     * @param deviceId The device ID to delete the schema.
     * @param contentType Must be set to \&quot;application/schema+json\&quot; for this endpoint.
     * @return kotlin.String
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun v1ProductsProductIdOrSlugConfigDeviceIdDelete(productIdOrSlug: kotlin.String, deviceId: kotlin.String, contentType: kotlin.String): HttpResponse<kotlin.String> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()
        contentType?.apply { localVariableHeaders["Content-Type"] = this.toString() }

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.DELETE,
            "/v1/products/{productIdOrSlug}/config/{deviceId}".replace("{" + "productIdOrSlug" + "}", "$productIdOrSlug").replace("{" + "deviceId" + "}", "$deviceId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Get device schema
     * Get the possible values that can be configured for one device in this product, in JSON Schema format
     * @param productIdOrSlug Product ID or slug.
     * @param deviceId The device ID to query.
     * @param accept Must be set to \&quot;application/schema+json\&quot; for this endpoint
     * @return kotlin.String
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun v1ProductsProductIdOrSlugConfigDeviceIdGet(productIdOrSlug: kotlin.String, deviceId: kotlin.String, accept: kotlin.String): HttpResponse<kotlin.String> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()
        accept?.apply { localVariableHeaders["Accept"] = this.toString() }

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/v1/products/{productIdOrSlug}/config/{deviceId}".replace("{" + "productIdOrSlug" + "}", "$productIdOrSlug").replace("{" + "deviceId" + "}", "$deviceId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Set device configuration schema
     * Set configuration schema for the device.   This must be the entire schema, including the standard Particle parts; there is no merging of changes.
     * @param productIdOrSlug Product ID or slug.
     * @param deviceId Device ID
     * @param contentType Must be set to \&quot;application/schema+json\&quot; for this endpoint.
     * @return kotlin.String
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun v1ProductsProductIdOrSlugConfigDeviceIdPut(productIdOrSlug: kotlin.String, deviceId: kotlin.String, contentType: kotlin.String): HttpResponse<kotlin.String> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()
        contentType?.apply { localVariableHeaders["Content-Type"] = this.toString() }

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.PUT,
            "/v1/products/{productIdOrSlug}/config/{deviceId}".replace("{" + "productIdOrSlug" + "}", "$productIdOrSlug").replace("{" + "deviceId" + "}", "$deviceId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Get product schema
     * Get the possible values that can be configured for this product, in JSON Schema format
     * @param productIdOrSlug Product ID or slug.
     * @param accept Must be set to \&quot;application/schema+json\&quot; for this endpoint
     * @return kotlin.String
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun v1ProductsProductIdOrSlugConfigGet(productIdOrSlug: kotlin.String, accept: kotlin.String): HttpResponse<kotlin.String> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()
        accept?.apply { localVariableHeaders["Accept"] = this.toString() }

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/v1/products/{productIdOrSlug}/config".replace("{" + "productIdOrSlug" + "}", "$productIdOrSlug"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Set product configuration schema
     * Set configuration schema that will become the default for the product.   This must be the entire schema, including the standard Particle parts; there is no merging of changes.
     * @param productIdOrSlug Product ID or slug.
     * @param contentType Must be set to \&quot;application/schema+json\&quot; for this endpoint.
     * @return kotlin.String
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun v1ProductsProductIdOrSlugConfigPut(productIdOrSlug: kotlin.String, contentType: kotlin.String): HttpResponse<kotlin.String> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()
        contentType?.apply { localVariableHeaders["Content-Type"] = this.toString() }

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.PUT,
            "/v1/products/{productIdOrSlug}/config".replace("{" + "productIdOrSlug" + "}", "$productIdOrSlug"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Delete a customer
     * Delete a customer in a product. Will also revoke all of this customer&#39;s access tokens, pending device claim codes and activation codes.
     * @param productIdOrSlug Product ID or Slug
     * @param customerEmail Email of the customer account that you&#39;d like to remove
     * @return kotlin.String
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun v1ProductsProductIdOrSlugCustomersCustomerEmailDelete(productIdOrSlug: kotlin.String, customerEmail: kotlin.String): HttpResponse<kotlin.String> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.DELETE,
            "/v1/products/{productIdOrSlug}/customers/{customerEmail}".replace("{" + "productIdOrSlug" + "}", "$productIdOrSlug").replace("{" + "customerEmail" + "}", "$customerEmail"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Update customer password
     * Update the account password for a customer. Only relevant for non-shadow customers that have a password saved in Particle&#39;s system. Must be called with an access token that has access to the product, not a customer access token.
     * @param productIdOrSlug Product ID or Slug
     * @param customerEmail Email of the customer account that you&#39;d like to update
     * @param body  (optional)
     * @return kotlin.String
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun v1ProductsProductIdOrSlugCustomersCustomerEmailPut(productIdOrSlug: kotlin.String, customerEmail: kotlin.String, body: kotlin.String? = null): HttpResponse<kotlin.String> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = body

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.PUT,
            "/v1/products/{productIdOrSlug}/customers/{customerEmail}".replace("{" + "productIdOrSlug" + "}", "$productIdOrSlug").replace("{" + "customerEmail" + "}", "$customerEmail"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * List customers for a product
     * List Customers for a product.
     * @param productIdOrSlug Product ID or Slug
     * @return kotlin.String
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun v1ProductsProductIdOrSlugCustomersGet(productIdOrSlug: kotlin.String): HttpResponse<kotlin.String> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/v1/products/{productIdOrSlug}/customers".replace("{" + "productIdOrSlug" + "}", "$productIdOrSlug"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Create a customer - Implicit
     * Create a customer for a product using OAuth implicit grant type. This is the way you should hit the POST customers endpoint if you are creating customers from a web browser. After a successful POST, the customer access token will be appended as a hash to the redirect URI associated with the client credentials provided. For this grant type, you must also pass response_type: token.   You must give a valid product OAuth client ID in HTTP Basic Auth or in the client_id parameter. Do not pass the OAuth client secret when creating customers from a web browser.
     * @param productIdOrSlug Product ID or Slug
     * @param authorization HTTP Basic Auth where username is the OAuth client ID and password is blank.
     * @param body  (optional)
     * @return kotlin.String
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun v1ProductsProductIdOrSlugCustomersPost(productIdOrSlug: kotlin.String, authorization: kotlin.String, body: kotlin.String? = null): HttpResponse<kotlin.String> {

        val localVariableAuthNames = listOf<String>("bearerAuth")

        val localVariableBody = body

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()
        authorization?.apply { localVariableHeaders["Authorization"] = this.toString() }

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/v1/products/{productIdOrSlug}/customers".replace("{" + "productIdOrSlug" + "}", "$productIdOrSlug"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * Deny a quarantined device
     * Deny a quarantined device
     * @param productIdOrSlug Product ID or Slug
     * @param deviceId ID of the device to be denied
     * @return kotlin.String
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun v1ProductsProductIdOrSlugDevicesDeviceIdDelete(productIdOrSlug: kotlin.String, deviceId: kotlin.String): HttpResponse<kotlin.String> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.DELETE,
            "/v1/products/{productIdOrSlug}/devices/{deviceId}".replace("{" + "productIdOrSlug" + "}", "$productIdOrSlug").replace("{" + "deviceId" + "}", "$deviceId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Get product device information
     * Get basic information about a given device that is part of a product   See Get device information for the response attributes
     * @param deviceId Device ID
     * @param productIdOrSlug Product ID or Slug
     * @return kotlin.String
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun v1ProductsProductIdOrSlugDevicesDeviceIdGet(deviceId: kotlin.String, productIdOrSlug: kotlin.String): HttpResponse<kotlin.String> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/v1/products/{productIdOrSlug}/devices/{deviceId}".replace("{" + "deviceId" + "}", "$deviceId").replace("{" + "productIdOrSlug" + "}", "$productIdOrSlug"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Assign groups to a device
     * Update group memberships for an individual device. This is an absolute endpoint, meaning that regardless of previous group memberships, the group names passed to this endpoint will be the ones assigned to the device.   If you pass a group name that does not yet exist, it will be created and assigned to the device.
     * @param deviceId Device ID
     * @param productIdOrSlug Product ID or slug
     * @param body  (optional)
     * @return kotlin.String
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun v1ProductsProductIdOrSlugDevicesDeviceIdPut(deviceId: kotlin.String, productIdOrSlug: kotlin.String, body: kotlin.String? = null): HttpResponse<kotlin.String> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = body

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.PUT,
            "/v1/products/{productIdOrSlug}/devices/{deviceId}".replace("{" + "deviceId" + "}", "$deviceId").replace("{" + "productIdOrSlug" + "}", "$productIdOrSlug"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * List devices in a product
     * List all devices that are part of a product. Results are paginated, by default returns 25 device records per page.
     * @param productIdOrSlug Product ID or Slug
     * @param deviceId Filter results to devices with this ID (partial matching) (optional)
     * @param groups Comma separated list of full group names to filter results to devices belonging to these groups only (optional)
     * @param deviceName Filter results to devices with this name (partial matching) (optional)
     * @param serialNumber Filter results to devices with this serial number (partial matching) (optional)
     * @param sortAttr The attribute by which to sort results. Options for sorting are deviceName, deviceId, firmwareVersion, or lastConnection. By default, if no sortAttr parameter is set, devices will be sorted by last connection, in descending order (optional)
     * @param sortDir The direction of sorting. Pass asc for ascending sorting or desc for descending sorting (optional)
     * @param quarantined include / exclude quarantined devices (optional)
     * @param page Current page of results (optional)
     * @param perPage Records per page (optional)
     * @return kotlin.String
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun v1ProductsProductIdOrSlugDevicesGet(productIdOrSlug: kotlin.String, deviceId: kotlin.String? = null, groups: kotlin.String? = null, deviceName: kotlin.String? = null, serialNumber: kotlin.String? = null, sortAttr: kotlin.String? = null, sortDir: kotlin.String? = null, quarantined: kotlin.String? = null, page: kotlin.String? = null, perPage: kotlin.String? = null): HttpResponse<kotlin.String> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        deviceId?.apply { localVariableQuery["deviceId"] = listOf("$deviceId") }
        groups?.apply { localVariableQuery["groups"] = listOf("$groups") }
        deviceName?.apply { localVariableQuery["deviceName"] = listOf("$deviceName") }
        serialNumber?.apply { localVariableQuery["serialNumber"] = listOf("$serialNumber") }
        sortAttr?.apply { localVariableQuery["sortAttr"] = listOf("$sortAttr") }
        sortDir?.apply { localVariableQuery["sortDir"] = listOf("$sortDir") }
        quarantined?.apply { localVariableQuery["quarantined"] = listOf("$quarantined") }
        page?.apply { localVariableQuery["page"] = listOf("$page") }
        perPage?.apply { localVariableQuery["perPage"] = listOf("$perPage") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/v1/products/{productIdOrSlug}/devices".replace("{" + "productIdOrSlug" + "}", "$productIdOrSlug"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Approve a quarantined device
     * Approve a quarantined device. This will immediately release the device from quarantine and allow it to publish events, receive firmware updates, etc.
     * @param productIdOrSlug Product ID or Slug
     * @param body  (optional)
     * @return kotlin.String
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun v1ProductsProductIdOrSlugDevicesPost(productIdOrSlug: kotlin.String, body: kotlin.String? = null): HttpResponse<kotlin.String> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = body

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/v1/products/{productIdOrSlug}/devices".replace("{" + "productIdOrSlug" + "}", "$productIdOrSlug"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * Batch assign groups to devices
     * Assign groups to devices in a product as a batch action. Groups can either be added or removed from all devices passed to the endpoint.
     * @param productIdOrSlug Product ID or slug
     * @param body  (optional)
     * @return kotlin.String
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun v1ProductsProductIdOrSlugDevicesPut(productIdOrSlug: kotlin.String, body: kotlin.String? = null): HttpResponse<kotlin.String> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = body

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.PUT,
            "/v1/products/{productIdOrSlug}/devices".replace("{" + "productIdOrSlug" + "}", "$productIdOrSlug"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * Product event stream
     * Open a stream of Server Sent Events for all events for a product.
     * @param productIdOrSlug Product ID or slug
     * @param eventPrefix Filters the stream to only events starting with the specified prefix
     * @return kotlin.String
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun v1ProductsProductIdOrSlugEventsEventPrefixGet(productIdOrSlug: kotlin.String, eventPrefix: kotlin.String): HttpResponse<kotlin.String> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/v1/products/{productIdOrSlug}/events/{eventPrefix}".replace("{" + "productIdOrSlug" + "}", "$productIdOrSlug").replace("{" + "eventPrefix" + "}", "$eventPrefix"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Publish a product event
     * Publish an event that is sent to the product&#39;s event stream
     * @param productIdOrSlug Product ID or slug.
     * @param body  (optional)
     * @return kotlin.String
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun v1ProductsProductIdOrSlugEventsPost(productIdOrSlug: kotlin.String, body: kotlin.String? = null): HttpResponse<kotlin.String> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = body

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/v1/products/{productIdOrSlug}/events".replace("{" + "productIdOrSlug" + "}", "$productIdOrSlug"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * List all product firmwares
     * List all versions of product firmware
     * @param productIdOrSlug Product ID or slug
     * @return kotlin.String
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun v1ProductsProductIdOrSlugFirmwareGet(productIdOrSlug: kotlin.String): HttpResponse<kotlin.String> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/v1/products/{productIdOrSlug}/firmware".replace("{" + "productIdOrSlug" + "}", "$productIdOrSlug"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Upload product firmware
     * Upload a new firmware version to a product
     * @param productIdOrSlug Product ID or slug
     * @param body  (optional)
     * @return kotlin.String
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun v1ProductsProductIdOrSlugFirmwarePost(productIdOrSlug: kotlin.String, body: kotlin.String? = null): HttpResponse<kotlin.String> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = body

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/v1/products/{productIdOrSlug}/firmware".replace("{" + "productIdOrSlug" + "}", "$productIdOrSlug"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * Release product firmware
     * Release a version of firmware to the fleet of product devices. When releasing as the product default, all non-development devices that are not individually locked to a version of product firmware will automatically download and run this version of firmware the next time they handshake with the cloud.   You can also release firmware to specific groups for more fine-grained firmware management.   Note: Before releasing firmware for the first time, the firmware must be running on at least one device in your product fleet that has successfully re-connected to the Particle cloud.
     * @param productIdOrSlug Product ID or slug
     * @param body  (optional)
     * @return kotlin.String
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun v1ProductsProductIdOrSlugFirmwareReleasePut(productIdOrSlug: kotlin.String, body: kotlin.String? = null): HttpResponse<kotlin.String> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = body

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.PUT,
            "/v1/products/{productIdOrSlug}/firmware/release".replace("{" + "productIdOrSlug" + "}", "$productIdOrSlug"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * Download firmware binary
     * Retrieve and download the original binary of a version of product firmware.
     * @param productIdOrSlug Product ID or slug
     * @param version Version number of firmware to retrieve
     * @return kotlin.String
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun v1ProductsProductIdOrSlugFirmwareVersionBinaryGet(productIdOrSlug: kotlin.String, version: kotlin.String): HttpResponse<kotlin.String> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/v1/products/{productIdOrSlug}/firmware/{version}/binary".replace("{" + "productIdOrSlug" + "}", "$productIdOrSlug").replace("{" + "version" + "}", "$version"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Delete unreleased firmware binary
     * Delete a version of product firmware that has never been released.
     * @param productIdOrSlug Product ID or slug
     * @param version Version number of firmware to delete
     * @return kotlin.String
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun v1ProductsProductIdOrSlugFirmwareVersionDelete(productIdOrSlug: kotlin.String, version: kotlin.String): HttpResponse<kotlin.String> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.DELETE,
            "/v1/products/{productIdOrSlug}/firmware/{version}".replace("{" + "productIdOrSlug" + "}", "$productIdOrSlug").replace("{" + "version" + "}", "$version"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Get product firmware
     * Get a specific version of product firmware
     * @param productIdOrSlug Product ID or slug
     * @param version Version number of firmware to retrieve
     * @return kotlin.String
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun v1ProductsProductIdOrSlugFirmwareVersionGet(productIdOrSlug: kotlin.String, version: kotlin.String): HttpResponse<kotlin.String> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/v1/products/{productIdOrSlug}/firmware/{version}".replace("{" + "productIdOrSlug" + "}", "$productIdOrSlug").replace("{" + "version" + "}", "$version"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Edit product firmware
     * Edit a specific product firmware version
     * @param productIdOrSlug Product ID or slug
     * @param version Version number of the firmware to edit
     * @param body  (optional)
     * @return kotlin.String
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun v1ProductsProductIdOrSlugFirmwareVersionPut(productIdOrSlug: kotlin.String, version: kotlin.String, body: kotlin.String? = null): HttpResponse<kotlin.String> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = body

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.PUT,
            "/v1/products/{productIdOrSlug}/firmware/{version}".replace("{" + "productIdOrSlug" + "}", "$productIdOrSlug").replace("{" + "version" + "}", "$version"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * Query fleet-wide locations for devices within a product
     * Get the latest location data for all the devices in a product to get a fleet-wide summary of device location.
     * @param productIdOrSlug Product ID or slug.
     * @param deviceId Device ID prefix to include in the query (optional)
     * @param deviceName Device name prefix to include in the query (optional)
     * @param groups Array of group names to include in the query (optional)
     * @return kotlin.String
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun v1ProductsProductIdOrSlugFleetLocationsGet(productIdOrSlug: kotlin.String, deviceId: kotlin.String? = null, deviceName: kotlin.String? = null, groups: kotlin.String? = null): HttpResponse<kotlin.String> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        deviceId?.apply { localVariableQuery["device_id"] = listOf("$deviceId") }
        deviceName?.apply { localVariableQuery["device_name"] = listOf("$deviceName") }
        groups?.apply { localVariableQuery["groups"] = listOf("$groups") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/v1/products/{productIdOrSlug}/fleet_locations".replace("{" + "productIdOrSlug" + "}", "$productIdOrSlug"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Retrieve a product
     * Retrieve details for a product.
     * @param productIdOrSlug Product ID or Slug
     * @return kotlin.String
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun v1ProductsProductIdOrSlugGet(productIdOrSlug: kotlin.String): HttpResponse<kotlin.String> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/v1/products/{productIdOrSlug}".replace("{" + "productIdOrSlug" + "}", "$productIdOrSlug"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * List device groups
     * List the group objects that exist in the product. Optionally, filter by group name (partial match).
     * @param productIdOrSlug Product ID or slug
     * @param name String to filter group names by. Partial string matching. (optional)
     * @return kotlin.String
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun v1ProductsProductIdOrSlugGroupsGet(productIdOrSlug: kotlin.String, name: kotlin.String? = null): HttpResponse<kotlin.String> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        name?.apply { localVariableQuery["name"] = listOf("$name") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/v1/products/{productIdOrSlug}/groups".replace("{" + "productIdOrSlug" + "}", "$productIdOrSlug"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Delete device group
     * Delete device group. All devices that belong to this group will be removed from the deleted group.
     * @param productIdOrSlug Product ID or slug
     * @param groupName The group name to delete
     * @return kotlin.String
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun v1ProductsProductIdOrSlugGroupsGroupNameDelete(productIdOrSlug: kotlin.String, groupName: kotlin.String): HttpResponse<kotlin.String> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.DELETE,
            "/v1/products/{productIdOrSlug}/groups/{groupName}".replace("{" + "productIdOrSlug" + "}", "$productIdOrSlug").replace("{" + "groupName" + "}", "$groupName"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Get device group
     * Retrieve full info on a specific product group, including its device count.
     * @param productIdOrSlug Product ID or slug
     * @param groupName The group name to fetch
     * @return kotlin.String
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun v1ProductsProductIdOrSlugGroupsGroupNameGet(productIdOrSlug: kotlin.String, groupName: kotlin.String): HttpResponse<kotlin.String> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/v1/products/{productIdOrSlug}/groups/{groupName}".replace("{" + "productIdOrSlug" + "}", "$productIdOrSlug").replace("{" + "groupName" + "}", "$groupName"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Edit device group
     * Edit attributes of a specific device group. You must pass one of name, color, or description.
     * @param productIdOrSlug Product ID or slug
     * @param groupName The group name to edit
     * @param body  (optional)
     * @return kotlin.String
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun v1ProductsProductIdOrSlugGroupsGroupNamePut(productIdOrSlug: kotlin.String, groupName: kotlin.String, body: kotlin.String? = null): HttpResponse<kotlin.String> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = body

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.PUT,
            "/v1/products/{productIdOrSlug}/groups/{groupName}".replace("{" + "productIdOrSlug" + "}", "$productIdOrSlug").replace("{" + "groupName" + "}", "$groupName"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * Create device group
     * Create a new device group withinin a product
     * @param productIdOrSlug Product ID or slug
     * @param body  (optional)
     * @return kotlin.String
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun v1ProductsProductIdOrSlugGroupsPost(productIdOrSlug: kotlin.String, body: kotlin.String? = null): HttpResponse<kotlin.String> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = body

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/v1/products/{productIdOrSlug}/groups".replace("{" + "productIdOrSlug" + "}", "$productIdOrSlug"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * Impact of taking action
[...]
